*{
	box-sizing:border-box;
}
body{
	background-color:rgba(23, 33, 58, 0.9);
	font-family:Arial;
}

#container{
	width:100%;
	height:100vh;
	background:#3b3e49;
	margin:0 auto;
	font-size:0;
	border-radius:5px;
	overflow:hidden;
}
aside{
	width:30%;
	height:100Vh;
	background-color:rgba(23, 33, 58, 0.9);
	display:inline-block;
	font-size:15px;
	vertical-align:top;
}
main{
	width:50%;
	height:100vh;
	background-color:#efff;
	display:inline-block;
	font-size:15px;
	vertical-align:top;
}

@media only screen and (max-width: 1030px) {	
	main{
		width:60%;
		height:100vh;
		font-size:12px;
	}
	main header {
		height:150px;
	}
	main header h2 {
		font-size: 12px;
	}
	.move-right{
		width:50%;
	}
	aside{
		width:30%;
		height:100Vh;
		font-size:12px;
	}	
	}

@media only screen and (max-width: 900px) {	
	main{
		width:70%;
		height:100vh;
		font-size:12px;
	}
	main header {
		height:150px;
	}
	main header h2 {
		font-size: 10px;
	}
	.move-right{
		width:30%;
	}
	aside{
		width:30%;
		height:100Vh;
		font-size:12px;
	}	
	}

@media only screen and (max-width: 768px) {	
main{
	width:80%;
	height:100vh;
	font-size:12px;
}
main header {
	height:150px;
}
main header h2 {
	font-size: 10px;
}
.move-right{
	width:30%;
}
aside{
	width:20%;
	height:100Vh;
	font-size:12px;
}

	.react-switch{
		margin: 5px;
		width: 30%;
		height: 50%;
	}	
}
@media only screen and (max-width: 678px) {	
	main{
		width:80%;
		height:100vh;
		font-size:12px;
	}
	main header {
		height:150px;
	}
	.move-right{
		width:30%;
	}
	aside{
		width:20%;
		height:100Vh;
		font-size:12px;
	}
	
		.react-switch{
			margin: 5px;
			width: 30%;
			height: 50%;
		}	
	}
	
@media only screen and (max-width: 600px) {
	.container{
		background-color: #efff;
	}	
	main{
		width:100%;
		background-color: #efff;
		height:100vh;
		font-size:10px;
	}
	main header {
		height:200px;
		background-color: #efff;
		width: 100%;
		padding: 0px;
		margin: 0px;
	}
	main header h2 {
		font-size: 8px;
	}
	main header div {
		padding: 0px;
	}
	main header img {
		padding: 0px;
		height:80%;
	}
	.move-right{
		width: 100%;
		padding-right: 0px;
		font-size: 5px;
	}
	.col-dark{
		width: 100%;
		background-color: #efff;
		margin-left: 0px;
	}
	.react-switch{
		background-color: #efff;

	}
	aside{
		width:20%;
		display: none;
		height:100Vh;
		font-size:12px;
	}	
	}
aside header{
	padding:30px 20px;
}
aside input{
	width:100%;
	height:50px;
	line-height:50px;
	padding:0 50px 0 20px;
	background-color:rgba(23, 33, 58, 0.9);
	border:none;
	border-radius:3px;
	color:#fff;
	background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_search.png);
	background-repeat:no-repeat;
	background-position:170px;
	background-size:40px;
}
aside input::placeholder{
	color:#fff;
}
aside ul{
	padding-left:0;
	margin:0;
	list-style-type:none;
	overflow-y:hidden;
	height:690px;
}
aside li{
	padding:10px 0;
	padding-left: 5px;
}
aside li:hover{
	background-color:#5e616a;
}
h2,h3{
	margin:0;
}
aside li img{
	border-radius:50%;
	margin-left:20px;
	margin-right:8px;
}
aside li div{
	display:inline-block;
	vertical-align:top;
	margin-top:12px;
}
aside li h2{
	font-size:14px;
	color:#fff;
	font-weight:normal;
	margin-bottom:5px;
}
aside li h3{
	font-size:12px;
	color:#7e818a;
	font-weight:normal;
}

.status{
	width:8px;
	height:8px;
	border-radius:50%;
	display:inline-block;
	margin-right:7px;
}
.green{
	background-color:#58b666;
}
.orange{
	background-color:#ff725d;
}
.blue{
	background-color:#6fbced;
	margin-right:0;
	margin-left:7px;
}

main header{
	height:110px;
	padding:30px 20px 30px 40px;
	border-top: #3b3e49 solid;
	border-bottom: #3b3e49 solid;
}
main header > *{
	display:inline-block;
	vertical-align:top;
}
main header img:first-child{
	border-radius:50%;
}
main header img:last-child{
	width:24px;
	margin-top:8px;
}
main header div{
	margin-left:10px;
	margin-right:145px;
}
main header h2{
	font-size:16px;
	margin-bottom:5px;
	@media (min-width: 750px) {
	font-size:10px;
	margin-bottom:0px;
  }
}
main header h3{
	font-size:14px;
	font-weight:normal;
	color:#7e818a;
}
.profile-image{ 
	width:60px;
	border-radius: 50% ;
}
.author{ 
	color: #3b3e49;
	text-size-adjust: 10px;
}


#chat{
	padding-left:0;
	margin:0;
	list-style-type:none;
	overflow-y:scroll;
	display: flex;
	flex-direction: column-reverse;
	height:535px;
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;
}
#chat > li > li:last-child{
	scroll-snap-align: end;
}
#chat li{
	padding:10px 30px;
}
#chat h2,#chat h3{
	display:inline-block;
	font-size:13px;
	font-weight:normal;
}
#chat h3{
	color:#bbb;
}
#chat .entete{
	margin-bottom:5px;
}
#chat .message{
	padding:20px;
	color:#fff;
	line-height:25px;
	max-width:90%;
	display:inline-block;
	text-align:left;
	border-radius:5px;
}
#chat .me{
	text-align:right;
}
#chat .you .message{
	background-color:#58b666;
}
#chat .me .message{
	background-color:#6fbced;
}
#chat .triangle{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 10px 10px;
}
#chat .you .triangle{
		border-color: transparent transparent #58b666 transparent;
		margin-left:15px;
}
#chat .me .triangle{
		border-color: transparent transparent #6fbced transparent;
		margin-left:375px;
}

main footer{
	height:155px;
	padding:20px 0px;
	padding-left: 5px;
	border: #3b3e49 solid;
}
main footer textarea{
	resize:none;
	border:none;
	display:block;
	width:80%;
	height:50px;
	overflow:hidden;
	border-radius:10px;
	border-style: solid;
	padding:20px;
	font-size:13px;
	margin-bottom:13px;
}
main footer textarea::placeholder{
	color:#ddd;
}
main footer img{
	height:30px;
	cursor:pointer;
}
main footer a{
	text-decoration:none;
	text-transform:uppercase;
	font-weight:bold;
	color:#6fbced;
	vertical-align:top;
	margin-left:333px;
	margin-top:5px;
	display:inline-block;
}
.box {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
	padding-left: 20px;
  }
  
.col-2 {
	-ms-flex: 0 0 16.666667%;
	flex: 0 0 16.666667%;
	max-width: 16.666667%;
	margin: 0px;
  }
  
.col-10 {
	-ms-flex: 0 0 83.333333%;
	flex: 0 0 83.333333%;
	max-width: 83.333333%;
  }
  
.col-white{
	color: #ddd;
}
.col-dark{
	color: rgba(23, 33, 58, 0.9);
}
.pr-m{
	margin-left: 2px;
}
.move-right{
	float: right;
	position: fixed;
}
.react-switch {
	vertical-align: right;
	margin-left: 4px;
	background-color: #efff;
}
  .btn{
	width: 50px;
	height: 50px;
	font-size: 20px;
	font-family: 'Bebas Neue', sans-serif;
	background: linear-gradient(45deg, transparent 5%, #100550 5%);
	border: 0;
	color: #fff;

  }
  .button-widget,
  .button-widget:after {
	width: 150px;
	height: 76px;
	line-height: 78px;
	font-size: 20px;
	font-family: 'Bebas Neue', sans-serif;
	background: linear-gradient(45deg, transparent 5%, #da0d3d 5%);
	border: 0;
	color: #fff;
	letter-spacing: 3px;
	box-shadow: 6px 0px 0px #bd0630;
	outline: transparent;
	position: relative;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
  }
  
  .button-widget:after {
	--slice-0: inset(50% 50% 50% 50%);
	--slice-1: inset(80% -6px 0 0);
	--slice-2: inset(50% -6px 30% 0);
	--slice-3: inset(10% -6px 85% 0);
	--slice-4: inset(40% -6px 43% 0);
	--slice-5: inset(80% -6px 5% 0);
	
	
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(45deg, transparent 3%, #da0d3d 3%, #da0d3d 5%, #da0d3d 5%);
	text-shadow: -3px -3px 0px #da0d3d, 3px 3px 0px #da0d3d;
	clip-path: var(--slice-0);
  }
  
  .button-widget:hover:after {
	animation: 1s glitch;
	animation-timing-function: steps(2, end);
  }
  
  @keyframes glitch {
	0% {
	  clip-path: var(--slice-1);
	  transform: translate(-20px, -10px);
	}
	10% {
	  clip-path: var(--slice-3);
	  transform: translate(10px, 10px);
	}
	20% {
	  clip-path: var(--slice-1);
	  transform: translate(-10px, 10px);
	}
	30% {
	  clip-path: var(--slice-3);
	  transform: translate(0px, 5px);
	}
	40% {
	  clip-path: var(--slice-2);
	  transform: translate(-5px, 0px);
	}
	50% {
	  clip-path: var(--slice-3);
	  transform: translate(5px, 0px);
	}
	60% {
	  clip-path: var(--slice-4);
	  transform: translate(5px, 10px);
	}
	70% {
	  clip-path: var(--slice-2);
	  transform: translate(-10px, 10px);
	}
	80% {
	  clip-path: var(--slice-5);
	  transform: translate(20px, -10px);
	}
	90% {
	  clip-path: var(--slice-1);
	  transform: translate(-10px, 0px);
	}
	100% {
	  clip-path: var(--slice-1);
	  transform: translate(0);
	}
  }
  
  @media (min-width: 768px) {
	.button-widget,
	.button-widget:after {
	  width: 200px;
	  height: 86px;
	  line-height: 88px;
	}
  }